{
  parser: "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "react/prop-types": ["error", { "skipUndeclared": true }]
  }
}
