@import '#style/index';
@import '#style/theme';

.bsod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  text-align: center;
  
  height: 100vh;

  background-color: $os-color-dark-blue-0;
  color: $color-white;
}

.bsod pre {
  white-space: pre-wrap;
  text-align: left;
}

.bsod_column {
  max-width: 960px;
}
