@import '~style/index';
@import '../base/avatar';

$avatar_background-color: $color-red-8;

.avatar {
  background-color: $avatar_background-color;
  border-radius: 0;
  image-rendering: pixelated;
}
