@import '~style/index';
@import '../base/feed';
@import 'theme';

$feed_background-color: $color-white;


.feed {
  background-color: $feed_background-color;
  border: $os-border-style-standard;

  @include media-breakpoint-m {
    @include os-scrollable();
  }
}
