@import '~style/index';
@import '../base/message';

$message--gray_color:    $color-gray-6;
$message--blue_color:    $color-blue-8;
$message--red_color:     $color-red-8;

// Message
.message {
  display: flex;
}

// Message Group
.message-group {
  position: relative;
  padding: $space-inset-stretch-s;
  line-height: 1.5;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "username"
    "messages";
  grid-column-gap: $space-xs;
}

.message-group_username {
  font-weight: bold;
  grid-area: username;
}
.message-group_username:after {
  content: ':';
}

.message-group_avatar {
  display: none;
}

.message-group_messages {
  grid-area: messages;
  margin-bottom: 0;

  > * {
    padding: 0;
  }
}

.message-group--gray {
  .message-group_username {
    color: $message--gray_color;
  }
}
.message-group--blue {
  .message-group_username {
    color: $message--blue_color;
  }
}
.message-group--red {
  .message-group_username {
    color: $message--red_color;
  }
}

// Transitions
.message-group_item--enter {
  height: 0;
  overflow: hidden;
}
.message-group_item--enter.message-group_item--enter-active {
  height: 40px;
  transition:
    height  $animation-duration-fast ease-in;
}
.message-group_item--leave {
  height: 40px;
}
.message-group_item--leave.message-group_item--leave-active {
  height: 0;
  transition: height $animation-duration-fast ease-in;
}

// Message List
.message-list_item--enter {
  height: 0;
  overflow: hidden;
}
.message-list_item--enter.message-list_item--enter-active {
  height: 40px;
  transition:
    height  $animation-duration-fast ease-in;
}
