@import '~/src/style/index';
@import '~/src/style/theme';

$text-color:           var(--wm-taskbar-color, $color--text-inverse);
$border-color:         var(--wm-taskbar-border-color, $color-blue-4);
$border-color--active: var(--wm-taskbar-border-color--active, $color-blue-6);

:global
[data-theme-color="silver"] {
  --wm-taskbar-color:                #{$color--text-standard};
  --wm-taskbar-border-color:         #{$color-gray-4};
  --wm-taskbar-border-color--active: #{$color-gray-6};
}

:global
[data-theme-color="blue"] {
  --wm-taskbar-color:                #{$color--text-inverse};
  --wm-taskbar-border-color:         #{$color-blue-4};
  --wm-taskbar-border-color--active: #{$color-blue-6};
}


$border-style-button: 2px outset $border-color;
$border-style-button--active: 2px outset $border-color--active;
$border-style-button--pressed: 2px inset $border-color;

.taskbar-button {
  position: relative;
  margin: 0;
  padding: $space-inset-stretch-s;
  border: $border-style-button;
  border-radius: $border-radius-m;
  background: $os-gradient--theme-light;

  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: $text-color;
  text-shadow: 0 1px transparentize($color-black, 0.5);
  white-space: nowrap;

  svg {
    margin: -6px;
  }
}

.taskbar-button:focus {
  outline: 0;
  box-shadow: $os-box-shadow-focus;
}

.taskbar-button:hover {
  filter: brightness(1.1);
}

.taskbar-button--active {
  border: $border-style-button--active;
  background: $os-gradient--theme-dark;

  [data-theme-color="silver"] & {
    --wm-taskbar-color: #{$color--text-inverse};
  }
}

.taskbar-button:active:not([disabled]) {
  border: $border-style-button--pressed !important;
  background: $os-gradient--theme-reverse !important;
}

.taskbar-button[disabled] {
  opacity: 0.25;
  cursor: default;
}
