@import '~/src/style/index';
@import '~/src/style/theme';

// $border-color:         $color-blue-4;
// $border-color--active: $color-blue-6;
$border-color:         $color-gray-4;
$border-color--active: $color-gray-6;

$border-style-button: 2px outset $border-color;
$border-style-button--active: 2px outset $border-color--active;
$border-style-button--pressed: 2px inset $border-color;
$box-shadow-focus: 0 0 0 2px $color-orange-4;

.taskbar-button {
  position: relative;
  margin: 0;
  padding: $space-inset-stretch-s;
  border: $border-style-button;
  border-radius: $border-radius-m;
  background: $os-gradient--theme-light;

  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: $color--text-inverse;
  text-shadow: 0 1px transparentize($color-black, 0.5);
  white-space: nowrap;

  svg {
    margin: -6px;
  }
}

.taskbar-button:focus {
  outline: 0;
  box-shadow: $box-shadow-focus;
}

.taskbar-button:hover {
  filter: brightness(1.1);
}

.taskbar-button--active {
  border: $border-style-button--active;
  background: $os-gradient--theme-dark;
}

.taskbar-button:active:not([disabled]) {
  border: $border-style-button--pressed !important;
  background: $os-gradient--theme-reverse !important;
}

.taskbar-button[disabled] {
  opacity: 0.25;
  cursor: default;
}
