@import '#style/index';

.window-manager {
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 100vh;
  overflow: hidden;
}

.window-manager_layer-group {
  position: relative;
}

.window-manager_layer {
  display: flex;
  pointer-events: none;
  overflow: hidden;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  > * {
    pointer-events: initial;
  }
}