@import '#style/index';
@import '#themes/oldschool/theme';

.window-manager-frame {
  display: flex;
  flex: 1;
  overflow: hidden;
  max-width: 600px;
  position: relative;
  box-shadow: $os-shadow-l;

  @include media-breakpoint-l {
    margin-top: $space-l;
    margin-bottom: $space-m;
  }
}
