@import '#style/index';
@import '#themes/oldschool/theme';

.window-manager-outline {
  position: absolute;
  border: 2px solid $color-black;
}

.window-manager-outline--animate {
  transition:
    top    $animation-duration-fast steps(6),
    left   $animation-duration-fast steps(6),
    bottom $animation-duration-fast steps(6),
    right  $animation-duration-fast steps(6);
}