@import '#style/index';
@import '#themes/oldschool/theme';

.window-frame {
  display: flex;
  flex: 1;
  max-width: 600px;
  position: relative;

  @include media-breakpoint-l {
    margin-top: $space-l;
    margin-bottom: $space-m;
  }
}

.window-frame_shadow {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: $os-shadow-l;
  border-radius: $border-radius-m;
}

// Transitions
.appear--enter {
  opacity: 0;
}
.appear--enter-active {
  transition: opacity;
  transition-delay: $animation-duration-fast;
  opacity: 1;
}
.appear--enter-done {
  opacity: 1;
}