@import '~/src/style/index';
@import '~/src/style/theme';

.window-frame {
  display: flex;
  flex: 1;
  position: absolute;
  background: $color-blue;
  outline: none;

  @include media-breakpoint-s {
    background: none;
  }
  @media screen and (max-width: $breakpoint-s - 1px) {
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: unset !important;
    height: unset !important;
  }
}

.window-frame_shadow {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: $os-shadow-l;
  border-radius: $border-radius-m;
}

// Transitions
.appear--enter {
  opacity: 0;
}
.appear--enter-active {
  transition: opacity;
  transition-delay: $animation-duration-fast;
  opacity: 1;
}
.appear--enter-done {
  opacity: 1;
}