@import '~style/index';

.feed {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.feed_inner {
  flex-direction: column;

  > * {
    // don't allow the children of the feed element to be selected as an anchor node
    overflow-anchor: none;
  }
}

.feed--top-down {
  flex-direction: column;
}
.feed--bottom-up {
  flex-direction: column-reverse;
}

.feed_spacer {
  display: flex;
  flex: 1;
}
.feed--bottom-up .feed_spacer {
  order: -1;
}

// Firefox overrides
@-moz-document url-prefix() {
  .feed--bottom-up {
    flex-direction: column;
  }

  .feed--bottom-up .feed_spacer {
    order: unset;
  }

  .feed--bottom-up .feed_anchor {
    // allow the final child to be selected as an anchor node
    overflow-anchor: auto;
    // anchor nodes are required to have non-zero area
    height: 1px;
  }
}
