@import '~style/index';

$input_background-color:  $color-white;
$input_placeholder-color: $color-gray-5;

.form {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;

  padding: $space-inset-s;
  font-size: $font-size-s;
  line-height: 4 * $space-xs;
  min-height: 6 * $space-xs;

  background-color: $input_background-color;
}
