@import "~normalize-scss/sass/normalize.scss";

@import "./text";
@import "./color";

@include normalize();

body {
  font-family: $font-family-standard;
  color: $color-black;
}

* {
  box-sizing: border-box;
}
