@import "./color";

$font-size-xs: 9px;
$font-size-s:  12px;
$font-size-m:  16px;
$font-size-l:  24px;
$font-size-xl: 36px;

$font-family-standard:  'Roboto', sans-serif;

$color--text-standard: $color-gray-9;
$color--text-light:    $color-gray-7;
$color--text-inverse:  $color-white;
