// Colors
$os-color-warm-gray-0: #f5eee5;
$os-color-dark-blue-0: #1e00ff;

$os-color--border-standard:      $color-indigo-2;

$os-color--border-blue:        $color-blue-5;
$os-color--border-blue--fade:  $color-blue-3;

$os-color--border-silver:        $color-gray-5;
$os-color--border-silver--fade:  $color-gray-3;

$os-color--border-window:        $os-color--border-silver;
$os-color--border-window--fade:  $os-color--border-silver--fade;

// Borders
$os-border-style-standard:       1px solid  $os-color--border-standard;
$os-border-style-window:         2px outset $os-color--border-window;
$os-border-style-window--fade:   2px outset $os-color--border-window--fade;

$os-border-radius-l:  12px;

// Gradients
$os-gradient--blue: linear-gradient(
  to bottom,
  $color-blue-3 0%,
  $color-blue-6 10%,
  $color-blue-5 30%,
  $color-blue-5 80%,
  $color-blue-7 100%
);
$os-gradient--blue-light: linear-gradient(
  to bottom,
  $color-blue-3 0%,
  $color-blue-5 10%,
  $color-blue-4 30%,
  $color-blue-4 80%,
  $color-blue-6 100%
);
$os-gradient--blue-dark: linear-gradient(
  to bottom,
  $color-blue-6 0%,
  $color-blue-7 10%,
  $color-blue-7 30%,
  $color-blue-7 80%,
  $color-blue-8 100%
);
$os-gradient--blue-reverse: linear-gradient(
  to top,
  $color-blue-3 0%,
  $color-blue-5 10%,
  $color-blue-4 30%,
  $color-blue-4 80%,
  $color-blue-6 100%
);


$os-gradient--silver: linear-gradient(
  to bottom,
  $color-gray-3 0%,
  $color-gray-6 20%,
  $color-gray-3 100%
);
$os-gradient--silver-light: linear-gradient(
  to bottom,
  $color-gray-3 0%,
  $color-gray-5 10%,
  $color-gray-4 30%,
  $color-gray-4 80%,
  $color-gray-6 100%
);
$os-gradient--silver-dark: linear-gradient(
  to bottom,
  $color-gray-5 0%,
  $color-gray-6 10%,
  $color-gray-6 30%,
  $color-gray-6 80%,
  $color-gray-7 100%
);
$os-gradient--silver-reverse: linear-gradient(
  to top,
  $color-gray-3 0%,
  $color-gray-5 10%,
  $color-gray-4 30%,
  $color-gray-4 80%,
  $color-gray-6 100%
);


$os-gradient--theme:          $os-gradient--silver;
$os-gradient--theme-light:    $os-gradient--silver-light;
$os-gradient--theme-dark:     $os-gradient--silver-dark;
$os-gradient--theme-reverse:  $os-gradient--silver-reverse;

// Shadows
$os-shadow-l: 0 8px 24px $color--shadow;

// Sizes
$os-space-inset-squash-xs: 6px 3px;

@mixin os-scrollable() {
  $color--scrollbar-track: $color-white;
  $color--scrollbar-thumb: $color-indigo-1;
  $color--scrollbar-border: $color-indigo-2;
  $color--scrollbar-thumb_active: $color-indigo-2;
  $scrollbar-size: 18px;

  &::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
  }
  &::-webkit-scrollbar-track {
    border: 1px solid $color-gray-2;
    background: $color--scrollbar-track;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color--scrollbar-thumb;
    border: 1px solid $color--scrollbar-border;
    border-radius: $border-radius-s;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: $color--scrollbar-thumb_active;
  }
  &::-webkit-scrollbar-corner {
    background: $color--scrollbar-track;
  }
  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    display: block;
    background-color: $color--scrollbar-thumb;
    border: 1px solid $color--scrollbar-border;
    border-radius: $border-radius-s;
  }
  &::-webkit-scrollbar-button:vertical:increment {

  }
  &::-webkit-scrollbar-button:vertical:decrement {

  }
}
