@import '~/src/style/index';
@import '~/src/style/theme';

$button-color: var(--wm-window-button-color, $color-blue);

:global
[data-theme-color="silver"] {
  --wm-window-button-color: #{$color-gray-5};
}

:global
[data-theme-color="blue"] {
  --wm-window-button-color: #{$color-blue};
}


.window {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  user-select: none;

  border: $os-border-style-window--fade;
  border-top-right-radius: $border-radius-m;
  border-top-left-radius: $border-radius-m;

  background-color: $os-color-warm-gray-0;
}

.window--focused {
  border: $os-border-style-window;
}


.window_header {
  display: flex;
  background: $os-gradient--theme;
  border-top-right-radius: $border-radius-m - 2px;
  border-top-left-radius: $border-radius-m - 2px;

  filter: saturate(0.65) brightness(1.25);

  .window--focused & {
    filter: none;
  }
}

.window_title {
  flex: 1;
  color: $color--text-inverse;
  padding: $space-inset-stretch-m;
  text-shadow: 0 1px transparentize($color-black, 0.5);
}

.window_buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: $space-xxs;
  padding: $space-inset-xxs;
}

.window_body {
  display: flex;
  flex: 1;
  overflow: hidden;
  user-select: none;

  .window--focused & {
    user-select: text;
  }
}


$highlight-gradient: linear-gradient(
  to bottom,
  transparentize($color-white, 1) 0%,
  transparentize($color-white, 0.6) 5%,
  transparentize($color-white, 1) 15%,
  transparentize($color-white, 1) 85%,
  transparentize($color-black, 0.9) 100%
);

.window-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;

  border-radius: $border-radius-s;
  border: 1px solid $color-white;
  background:
    $highlight-gradient,
    $button-color;

  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: $os-box-shadow-focus;
  }
}
.window-button--close {
  background:
    $highlight-gradient,
    $color-red;
}
