@import '#style/index';
@import '#style/theme';

$header-gradient: linear-gradient(
  to bottom,
  $color-blue-3 0%,
  $color-blue-6 10%,
  $color-blue-5 30%,
  $color-blue-5 80%,
  $color-blue-7 100%
);

.window {
  display: flex;
  flex: 1;
  flex-direction: column;

  border: $os-border-style-window--fade;
  border-top-right-radius: $border-radius-m;
  border-top-left-radius: $border-radius-m;

  background-color: $os-color-warm-gray-0;
}

.window--focused {
  border: $os-border-style-window;
}


.window_header {
  display: flex;
  background: $header-gradient;
  border-top-right-radius: $border-radius-m - 2px;
  border-top-left-radius: $border-radius-m - 2px;
  user-select: none;
  
  filter: saturate(0.65) brightness(1.25);

  .window--focused & {
    filter: none;
  }
}

.window_title {
  flex: 1;
  color: $color--text-inverse;
  padding: $space-inset-stretch-m;
  text-shadow: 0 1px transparentize($color-black, 0.5);
}

.window_buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: $space-xxs;
  padding: $space-inset-xxs;
}

.window_body {
  display: flex;
  flex: 1;
  overflow: hidden;
}


$highlight-gradient: linear-gradient(
  to bottom,
  transparentize($color-white, 1) 0%,
  transparentize($color-white, 0.6) 5%,
  transparentize($color-white, 1) 15%,
  transparentize($color-white, 1) 85%,
  transparentize($color-black, 0.9) 100%
);

$box-shadow-focus: 0 0 0 2px $color-orange-4;

.window-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;

  border-radius: $border-radius-s;
  border: 1px solid $color-white;
  background:
    $highlight-gradient,
    $color-blue;
  
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: $box-shadow-focus;
  }
}
.window-button--close {
  background:
    $highlight-gradient,
    $color-red;
}