@import '~style/index';
@import '~themes/oldschool/theme';

.start-screen {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100vh;

  background-color: $color-blue-9;

  padding-top: $space-xl;
  padding-bottom: $space-xl;
}

.start-screen_inner {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  background-color: $color-blue-6;
  border-top: 2px solid transparentize($color-white, 0.5);
  border-bottom: 2px solid transparentize($color-white, 0.5);
}

.start-screen_contents {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: $space-s;
}
