@import '#style/index';
@import '#style/theme';

$item-size: 72px;
$icon-size: 48px;

.file-grid-item {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  user-select: none;
}

.file-grid-item:focus {
  outline: none;
}

.file-grid-item_inner {
  display: grid;
  width: $item-size;
  grid-template-rows: $icon-size auto;
  grid-gap: $space-xs;
  
  justify-items: center;
  align-items: center;
  text-align: center;
}

.file-grid-item_icon {
  width: $icon-size;
  height: $icon-size;

  .file-grid-item:focus & {
    filter: sepia(1) saturate(2) hue-rotate(185deg) brightness(0.7);
  }
}

.file-grid-item_label {
  display: block;
  padding: $space-inset-xxs;
  font-size: $font-size-s;

  .file-grid-item:focus & {
    background: $color-blue-6;
    color: $color--text-inverse;
    text-shadow:
      0 1px transparentize($color-black, 0.5),
      0 0 3px transparentize($color-black, 0.5);
  }
}

.file-grid-item_label {
  .file-grid-item--light & {
    color: $color--text-inverse;
    text-shadow:
      0 1px transparentize($color-black, 0.5),
      0 0 3px transparentize($color-black, 0.5);
  }
  .file-grid-item--dark & {
    color: $color--text-standard;
  }
}