@import '#style/index';
@import '#themes/oldschool/theme';

$item-size: 72px;
$icon-size: 48px;

.file-grid-item {
  display: grid;
  width: $item-size;
  height: $item-size;
  grid-template-rows: $icon-size auto;
  grid-gap: $space-xs;
  
  justify-items: center;
  align-items: center;
  text-align: center;
}

.file-grid-item_icon {
  width: $icon-size;
  height: $icon-size;
}

.file-grid-item_label {
  color: $color--text-inverse;
  font-size: $font-size-s;
  text-shadow: 0 1px transparentize($color-black, 0.5);
}