@import '~/src/style/index';
@import '~/src/style/theme';

$item-size: 72px;

.file-grid {
  flex: 1;
  padding: $space-inset-l;
  display: grid;
  grid-template-rows: repeat(auto-fill, $item-size);
  grid-template-columns: repeat(auto-fill, $item-size);
  grid-gap: $space-l;
}

.file-grid--row {
  grid-auto-flow: row;
}
.file-grid--column {
  grid-auto-flow: column;
}