@import '#style/index';
@import '#themes/oldschool/theme';

.desktop {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  background: $os-color--border-window;
}

.desktop_background {
  @include media-breakpoint-l {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: top center;
    background-size: cover;
    transition: background 3s;
  }
}