@import '#style/index';
@import '../base/message';

$message--gray_background-color: $color-gray-2;
$message--gray_color:            $color--text-standard;
$message--blue_background-color: $color-blue-8;
$message--blue_color:            $color--text-inverse;

// Message
.message {
  padding: $space-inset-stretch-m;
  border-radius: $space-l;
}
.message--gray {
  background-color: $message--gray_background-color;
  color: $message--gray_color;
}
.message--blue {
  background-color: $message--blue_background-color;
  color: $message--blue_color;
}

// Message Group
.message-group {
  padding: $space-inset-stretch-m;
}
.message-group--left {
  margin-right: 2*$space-l;
}
.message-group--right {
  margin-left: 2*$space-l;
}

.message-group_username {
  display: none;
}
.message-group_avatar {
  position: sticky;
  top: $space-s;
}
.message-group--left .message-group_avatar {
  margin-right: $space-xs;
}
.message-group--right .message-group_avatar {
  margin-left: $space-xs;
}

.message-group_item--enter {
  height: 0;
  opacity: 0.01;
}
.message-group_item--enter.message-group_item--enter-active {
  height: 42px;
  opacity: 1;
  transition:
    height  $animation-duration-fast ease-in,
    opacity $animation-duration-fast ease-in;
}
.message-group_item--leave {
  opacity: 1;
  height: 42px;
}
.message-group_item--leave.message-group_item--leave-active {
  opacity: 0.01;
  height: 0;
  transition: opacity $animation-duration-fast ease-in;
}

// Message List
.message-list_item--enter {
  height: 0;
  opacity: 0.01;
}
.message-list_item--enter.message-list_item--enter-active {
  height: 66px;
  opacity: 1;
  transition:
    height  $animation-duration-fast ease-in,
    opacity $animation-duration-fast ease-in;
}
.message-list_item--leave {
  opacity: 1;
}
.message-list_item--leave.message-list_item--leave-active {
  opacity: 0.01;
  transition: opacity $animation-duration-fast ease-in;
}
